<div class="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-primary d-flex justify-content-between align-items-center">
          <h5 class="modal-title text-white mb-0">Invoice Deleted</h5>
          <button type="button" class="btn btn-outline-light btn-sm" (click)="closeModal()">
            <i class="fas fa-times">X</i>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-0">The invoice was successfully deleted.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeModal()">OK</button>
        </div>
      </div>
    </div>
  </div>