<div class="modal-header">
    <h4 class="modal-title">Create New Job</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="jobName">Job Name</label>
        <input type="text" class="form-control" id="jobName" [(ngModel)]="job.jobName" name="jobName">
      </div>
      <div class="form-group">
        <label for="jobNumber">Job ID</label>
        <input type="text" class="form-control" id="jobNumber" [(ngModel)]="job.jobNumber" name="jobNumber">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="createJob()">Create</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  </div>